body
{
    background-color: red;
}
h1
{
    color: white;
    margin-top: 50px;
    font-family: 'Betham', serif;
}
p
{
    font-family: 'Cabin', sans-serif;
}
main
{
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
}